.header-color {
  font-family: "Overlock";
  background: #2373a9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2373a9,
    #2373a9,
    #2373a9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2373a9,
    #2373a9,
    #2373a9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* bootstrap header */

#mainNav .navbar-brand {
  color: black;
  font-family: "Pangolin";
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: black;
  font-family: "Pangolin";
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #2373a9;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
}

.avatar-img {
  height: 480px;
  padding-top: 7em;
  opacity: 1;
  float: right;
}

.banner-text {
  opacity: 1;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  margin-top: 2em;
  font-size: 60px;
  font-weight: bold;
  color: black;
  font-family: "Pangolin";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.05em solid; /* The typwriter cursor */
  letter-spacing: 0.02em;
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 3s steps(100, end), blink-caret 0.5s step-end infinite;
}

.banner-text h2 {
  color: black;
  font-size: 30px;
  margin: auto;
  font-family: "Overlock";
}

.banner-text p {
  color: black;
  font-size: 20px;
  padding-top: 40px;
  font-family: "Overlock";
}

.social-links {
  padding-top: 40px;
  color: black;
  display: flex;
  /* justify-content: space-between; */
  width: 50%;
  margin: auto;
  float: left;
  font-family: "Overlock";
}

.social-links i {
  color: black;
  font-size: 5em;
  padding: 8px;
}
/* Resume*/
.resume-right-col {
  background: #2373a9;
  color: white;
  padding: 2em;
}

.social-links-resume {
  color: black;
  width: 10%;
  float: left;
  padding-left: 1%;
}

.social-links-resume i {
  color: black;
  font-size: 1.3em;
}
.checked {
  color: orange;
}

/* project */
.background-image {
  height: 400px;
  width: 100%;
}
.image-container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-section {
  padding-top: 10rem;
  padding-bottom: 7.5rem;
  font-family: "Overlock";
}

.content-section-heading h2 {
  font-size: 6rem;
  font-family: "Baloo Bhai";
  color: white;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
  font-family: "Overlock";
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.font {
  font-family: "Overlock";
}
@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: #3e4346;
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}
/* Contact Section
--------------------------------*/
/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-body2 {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.contact-bodyM {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: #2373a9;
  color: white;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Pangolin";
}

.contact-grid p {
  font-family: "Pangolin";
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px white;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 39px;
  padding-right: 2rem;
  padding-left: 4rem;

  color: white;
}
.contact-text {
  font-family: "Overlock";
  font-size: 20px;
  color: white;
}

.vl {
  border-left: 6px solid #b4d0e7;
  height: 530px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 1;
}

/* About me Section
--------------------------------*/
.me-img {
  height: 550px;
  padding-top: 7em;
  padding-left: 10em;
  /* padding-left: 0.5em; */
  opacity: 1;
  float: left;
}

.about-text {
  opacity: 1;
  width: 75%;
  border-radius: 10px;
}

.about-text h1 {
  padding-top: 1em;
  font-size: 66px;
  font-weight: bold;
  color: white;
  font-family: "Pangolin";
}

.about-text h2 {
  color: white;
  font-size: 25px;
  font-family: "Overlock";
}

.about-text p {
  color: black;
  font-size: 15px;
  padding-top: 40px;
  font-family: "Overlock";
}

/* mobile */
.avatar-img-mobile {
  padding-top: 0;
  margin-top: 0;

  /* padding-top: 5%; */
  /* margin-top: 15%; */
  /* padding-left: 20%; */
}
.banner-text-mobile {
  opacity: 1;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text-mobile h1 {
  margin-top: 1em;
  font-size: 30px;
  font-weight: bold;
  color: black;
  font-family: "Pangolin";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.05em solid; /* The typwriter cursor */
  letter-spacing: 0.02em;
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 3s steps(60, end), blink-caret 0.5s step-end infinite;
}

.banner-text-mobile h2 {
  color: black;
  font-size: 20px;
  margin: auto;
  font-family: "Overlock";
}

.banner-text-mobile p {
  color: black;
  font-size: 18px;
  padding-top: 20px;
  font-family: "Overlock";
}
.social-links-mobile {
  padding-top: 10px;
  color: black;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  float: left;
  font-family: "Overlock";
}

.social-links-mobile i {
  color: black;
  font-size: 3em;
  padding: 8px;
}

.about-text-mobile {
  opacity: 1;
  width: 75%;
  border-radius: 10px;
}

.about-text-mobile h1 {
  padding-top: 1em;
  font-size: 60px;
  font-weight: bold;
  color: white;
  font-family: "Pangolin";
}

.about-text-mobile h2 {
  color: white;
  font-size: 20px;
  font-family: "Overlock";
}

.about-text-mobile p {
  color: black;
  font-size: 15px;
  padding-top: 40px;
  font-family: "Overlock";
}

.contact-text-mobile {
  font-family: "Overlock";
  font-size: 20px;
  color: white;
}
.contact-list-mobile i {
  font-size: 20px;
  padding-right: 1rem;

  color: white;
}

/* font */
.font1 {
  font-family: "Pangolin";
}
.font1 h1 {
  font-family: "Pangolin";
}
.font2 {
  font-family: "Overlock";
}
.font2 h2 {
  font-family: "Overlock";
}
.font2 h3 {
  font-family: "Overlock";
}
.font2 h4 {
  font-family: "Overlock";
}
.font2 h5 {
  font-family: "Overlock";
}
/* homepage image jumping animation */
.stage {
  display: flex;
  height: 330px;
  width: 100%;
}
.box {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  height: 30%;
  width: 30%;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 300px;
}
.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* background color */
.backgroundlight {
  background-color: #d7e2eb;
}
.cardbackgroundlight {
  background-color: #edf2f5;
}

/*.colorlight{

}
.colordark{

} */
