.header-color {
  font-family: "Kalam", cursive;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #000000,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000000,
    #000000,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar-img {
  height: 770px;
  padding-top: 7em;
  opacity: 1;
  float: right;
}

.banner-text {
  opacity: 1;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  padding-top: 2em;
  font-size: 60px;
  font-weight: bold;
  color: white;
  font-family: "Permanent Marker", cursive;
}

.banner-text h2 {
  color: white;
  font-size: 30px;
  margin: auto;
  font-family: "Kalam", cursive;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding-top: 40px;
  font-family: "Kalam", cursive;
}

.social-links {
  padding-top: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  float: left;
  font-family: "Kalam", cursive;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

/* Resume*/
.resume-right-col {
  background: #493f3f;
  color: white;
  padding: 2em;
}

.social-links-resume {
  color: black;
  width: 10%;
  float: left;
  padding-left: 1%;
}

.social-links-resume i {
  color: #332f2d;
  font-size: 1.3em;
}

/* contact */
.success-msg {
  color: #57a773;
  padding: 10px 15px;
}
.err-msg {
  color: #ee6352;
  padding: 10px 15px;
}

/* project */
.background-image {
  height: 400px;
  width: 100%;
}
.image-container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-section {
  padding-top: 10rem;
  padding-bottom: 7.5rem;
  font-family: "Kalam", cursive;
}

.content-section-heading h2 {
  font-size: 6rem;
  font-family: "Permanent Marker", cursive;
  color: white;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
  font-family: "Kalam", cursive;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.font {
  font-family: "Kalam", cursive;
}
@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: #332f2d;
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

/* Contact Section
--------------------------------*/

/* About me Section
--------------------------------*/
.me-img {
  height: 1000px;
  padding-top: 15em;
  padding-left: 6em;
  opacity: 1;
  float: left;
}
