.header-color {
  font-family: "Kalam", cursive;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #000000,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000000,
    #000000,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar-img {
  height: 770px;
  padding-top: 7em;
  opacity: 1;
  float: right;
}

.banner-text {
  opacity: 1;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  padding-top: 2em;
  font-size: 60px;
  font-weight: bold;
  color: white;
  font-family: "Permanent Marker", cursive;
}

.banner-text h2 {
  color: white;
  font-size: 30px;
  margin: auto;
  font-family: "Kalam", cursive;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding-top: 40px;
  font-family: "Kalam", cursive;
}

.social-links {
  padding-top: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  float: left;
  font-family: "Kalam", cursive;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

/* landing mobile */
.avatar-img-mobile {
  height: 200px;
  padding-top: 10%;
  padding-left: 20%;
}
.banner-text-mobile {
  opacity: 1;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text-mobile h1 {
  padding-top: 1em;
  font-size: 30px;
  font-weight: bold;
  color: #493f3f;
  font-family: "Permanent Marker", cursive;
}

.banner-text-mobile h2 {
  color: #493f3f;
  font-size: 20px;
  margin: auto;
  font-family: "Kalam", cursive;
}

.banner-text-mobile p {
  color: #493f3f;
  font-size: 18px;
  padding-top: 40px;
  font-family: "Kalam", cursive;
}
.social-links-mobile {
  padding-top: 10px;
  color: #493f3f;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  float: left;
  font-family: "Kalam", cursive;
}

.social-links-mobile i {
  color: #493f3f;
  font-size: 3em;
  padding: 8px;
}
/* Resume*/
.resume-right-col {
  background: #493f3f;
  color: white;
  padding: 2em;
}

.social-links-resume {
  color: black;
  width: 10%;
  float: left;
  padding-left: 1%;
}

.social-links-resume i {
  color: #332f2d;
  font-size: 1.3em;
}

/* project */
.background-image {
  height: 400px;
  width: 100%;
}
.image-container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-section {
  padding-top: 10rem;
  padding-bottom: 7.5rem;
  font-family: "Kalam", cursive;
}

.content-section-heading h2 {
  font-size: 6rem;
  font-family: "Permanent Marker", cursive;
  color: white;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
  font-family: "Kalam", cursive;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.font {
  font-family: "Kalam", cursive;
}
@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: #332f2d;
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

/* Contact Section
--------------------------------*/
/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-body2 {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.contact-bodyM {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: #493f3f;
  color: white;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Permanent Marker", cursive;
}

.contact-grid p {
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px white;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 39px;
  padding-right: 2rem;
  padding-left: 4rem;

  color: white;
}
.contact-text {
  font-family: "Kalam", cursive;
  font-size: 30px;
  color: white;
}

.vl {
  border-left: 6px solid #dad4db;
  height: 530px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 1;
}

/* About me Section
--------------------------------*/
.me-img {
  height: 700px;
  padding-top: 7em;
  padding-left: 11em;
  /* padding-left: 0.5em; */
  opacity: 1;
  float: left;
}

.about-text {
  opacity: 1;
  width: 75%;
  border-radius: 10px;
}

.about-text h1 {
  padding-top: 1em;
  font-size: 80px;
  font-weight: bold;
  color: white;
  font-family: "Permanent Marker", cursive;
}

.about-text h2 {
  color: white;
  font-size: 30px;
  font-family: "Kalam", cursive;
}

.about-text p {
  color: black;
  font-size: 20px;
  padding-top: 40px;
  font-family: "Kalam", cursive;
}
